Repository zzstoatzz/status: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax, check-js-syntax, check-json

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false

cargo-fmt-check:
  name: Cargo fmt check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

check-html-syntax:
  name: Check HTML syntax
  entry: bash -c 'for file in "$@"; do if ! xmllint --html --noout "$file" 2>/dev/null; then echo "HTML syntax error in $file"; exit 1; fi; done' --
  language: system

check-js-syntax:
  name: Check JavaScript syntax
  entry: bash -c 'for file in "$@"; do if ! node -c "$file" 2>/dev/null; then echo "JavaScript syntax error in $file"; exit 1; fi; done' --
  language: system

check-json:
  name: Check JSON
  entry: bash -c 'for file in "$@"; do if ! python3 -m json.tool "$file" > /dev/null 2>&1; then echo "JSON syntax error in $file"; exit 1; fi; done' --
  language: system

fix: Fix critical emoji picker bug - undefined function
  templates/status.html
Due: check-html-syntax

debug: Add console logging to track modal close issue
  templates/status.html
Due: check-html-syntax

fix: Prevent modal from closing when clicking inside
  templates/status.html
Due: check-html-syntax

fix: Add verbose error logging and proper JSON responses for emoji upload failures
  src/api/status_write.rs
  src/error_handler.rs
  templates/feed.html
  templates/status.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

Add per-status share pages and sharing UX
  Cargo.lock
  Cargo.toml
  src/api/mod.rs
  src/api/status_read.rs
  src/db/models.rs
  src/templates.rs
  static/share.js
  templates/base.html
  templates/feed.html
  templates/status.html
  templates/status_share.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax, check-js-syntax

Use readable share slugs for statuses
  Cargo.lock
  Cargo.toml
  src/api/status_read.rs
  src/db/models.rs
  src/templates.rs
  templates/feed.html
  templates/status.html
  templates/status_share.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

Fix OAuth login issues for self-hosted PDS
  src/main.rs
  src/storage.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

Add auth domain workaround for same-site OAuth issue
  src/api/auth.rs
  src/config.rs
  templates/login.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

Fix preview deployment OAuth redirect
  .github/workflows/fly-review.yml
  fly.review.toml
Due: none

Address code review feedback
  src/api/auth.rs
  src/config.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

Revert "Fix OAuth same-site issue with auth domain workaround"
  .github/workflows/fly-review.yml
  fly.review.toml
  src/api/auth.rs
  src/config.rs
  templates/login.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

Revert "Revert "Fix OAuth same-site issue with auth domain workaround""
  .github/workflows/fly-review.yml
  fly.review.toml
  src/api/auth.rs
  src/config.rs
  templates/login.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

Fix redirect loop - remove automatic redirect
  src/api/auth.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

Revert "Revert "Revert "Fix OAuth same-site issue with auth domain workaround"""
  .github/workflows/fly-review.yml
  fly.review.toml
  src/api/auth.rs
  src/config.rs
  templates/login.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

Fix emoji loading inefficiency with intelligent resolver
  static/emoji-resolver.js
  templates/base.html
  templates/feed.html
  templates/status.html
Due: check-html-syntax, check-js-syntax

Fix emoji picker 404s for URL-encoded filenames
  templates/status.html
Due: check-html-syntax

new bufo just dropped
  static/emojis/bufo-winter.png
Due: none

Fix emoji sync on redeploy and CI rustfmt issue
  .github/workflows/ci.yml
  src/emoji.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

add bufo link
  templates/status.html
Due: check-html-syntax

add dev command with cargo watch on port 3000
  justfile
Due: none

remove unused lexicons and dev_utils
  justfile
  src/dev_utils.rs
  src/lexicons/app/status.rs
  src/lexicons/app/status/record.rs
  src/lexicons/xyz/statusphere.rs
  src/lexicons/xyz/statusphere/status.rs
  src/main.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

initial commit
  .gitignore
  fly.toml
  lexicons.zip
  lexicons/preferences.json
  lexicons/status.json
  site/Caddyfile
  site/Dockerfile
  site/app.js
  site/bufos.json
  site/favicon.svg
  site/fly.toml
  site/index.html
  site/styles.css
Due: check-html-syntax, check-js-syntax, check-json

rename site to docs for github pages
  docs/Caddyfile
  docs/Caddyfile.dev
  docs/Dockerfile
  docs/app.js
  docs/bufos.json
  docs/favicon.svg
  docs/fly.toml
  docs/index.html
  docs/styles.css
Due: check-html-syntax, check-js-syntax, check-json

deploy to fly.io + cloudflare pages
  .gitignore
  Dockerfile
  README.md
  docs/Caddyfile
  docs/Caddyfile.dev
  docs/Dockerfile
  docs/fly.toml
  fly.toml
  lexicons.zip
  site/app.js
  site/bufos.json
  site/favicon.svg
  site/index.html
  site/styles.css
Due: check-html-syntax, check-js-syntax, check-json

remove rust CI and fly review app workflows
  .github/workflows/ci.yml
  .github/workflows/fly-review.yml
  .github/workflows/fly.yml
Due: none

pin quickslice client to v0.17.3
  site/index.html
Due: check-html-syntax

document why we build quickslice from source
  Dockerfile
Due: none

add quickslice migration notes
  notes/quickslice-migration.md
Due: none

expand migration notes with UI section and deployment checklist
  notes/quickslice-migration.md
Due: none

generalize code snippets in migration notes
  notes/quickslice-migration.md
Due: none

fix GraphQL query example to show actual fields
  notes/quickslice-migration.md
Due: none

fix: show 'expired Xm ago' for past expiration times
  site/app.js
Due: check-js-syntax

perf: use actorHandle from graphql instead of PLC lookups
  site/app.js
Due: check-js-syntax

perf: use actorHandle from graphql on homepage
  site/app.js
Due: check-js-syntax

docs: update readme tagline
  README.md
Due: none

docs: fix redirect uri in readme
  README.md
Due: none

chore: use pre-built quickslice image instead of building from source
  Dockerfile
  fly.toml
Due: none

bump emoji maxLength to 128, simplify login copy
  lexicons/status.json
  site/app.js
Due: check-js-syntax, check-json

add shareable status permalinks with og previews
  .gitignore
  site/app.js
  site/functions/status/[did]/[rkey].js
  site/index.html
  site/package.json
  site/styles.css
Due: check-html-syntax, check-js-syntax, check-json

Path conditions:
  cargo-check: any of: \.rs$
  cargo-fmt-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  check-html-syntax: any of: \.html$
  check-js-syntax: any of: \.js$
  check-json: any of: \.json$
