Repository zzstoatzz/status: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax, check-js-syntax, check-json

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false

cargo-fmt-check:
  name: Cargo fmt check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

check-html-syntax:
  name: Check HTML syntax
  entry: bash -c 'for file in "$@"; do if ! xmllint --html --noout "$file" 2>/dev/null; then echo "HTML syntax error in $file"; exit 1; fi; done' --
  language: system

check-js-syntax:
  name: Check JavaScript syntax
  entry: bash -c 'for file in "$@"; do if ! node -c "$file" 2>/dev/null; then echo "JavaScript syntax error in $file"; exit 1; fi; done' --
  language: system

check-json:
  name: Check JSON
  entry: bash -c 'for file in "$@"; do if ! python3 -m json.tool "$file" > /dev/null 2>&1; then echo "JSON syntax error in $file"; exit 1; fi; done' --
  language: system

fix: correct indentation in emoji and clear picker event handlers
  templates/status.html
Due: check-html-syntax

fix: savedAccent is not defined error
  templates/status.html
Due: check-html-syntax

fix: properly handle savedAccent scope with settings hierarchy
  templates/status.html
Due: check-html-syntax

fix: correct GitHub repo URL for bug report button
  templates/base.html
Due: check-html-syntax

fix: refine aesthetic details for better UX
  templates/status.html
Due: check-html-syntax

Reduce current emoji pulse intensity and add Markdown [text](url) link rendering for status texts across pages
  static/markdown.js
  templates/base.html
  templates/feed.html
  templates/status.html
Due: check-html-syntax, check-js-syntax

add bob ross
  static/emojis/bufo-bob-ross.png
Due: none

style: rustfmt after emoji runtime refactor
  .env.template
  README.md
  fly.toml
  src/api/status.rs
  src/config.rs
  src/emoji.rs
  src/main.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

style: rustfmt upload endpoint + imports
  Cargo.lock
  Cargo.toml
  README.md
  src/api/mod.rs
  src/api/status.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix: clippy warning (avoid unnecessary to_string)
  src/api/status.rs
  src/templates.rs
  templates/feed.html
  templates/status.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

style: rustfmt upload duplicate-name handling
  src/api/status.rs
  templates/feed.html
  templates/status.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

style: rustfmt emoji slug loader
  Cargo.lock
  Cargo.toml
  src/api/status.rs
  src/emoji.rs
  static/emoji-data.js
  templates/feed.html
  templates/status.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax, check-js-syntax

add Claude Code GitHub workflow
  .github/workflows/claude.yml
Due: none

add path filters to preview deployments
  .github/workflows/fly-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

restrict preview builds
  .github/workflows/fly-review.yml
Due: none

feat(webhooks): add webhook settings UI + API and signed delivery on status changes
  Cargo.lock
  Cargo.toml
  src/api/mod.rs
  src/api/status.rs
  src/api/webhooks.rs
  src/db/mod.rs
  src/db/webhooks.rs
  src/main.rs
  src/webhooks.rs
  templates/status.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

fix: clone reqwest client per task for concurrent webhook sends
  Cargo.lock
  Cargo.toml
  src/api/status.rs
  src/api/webhooks.rs
  src/webhooks.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix(clippy): remove unused import after extraction
  src/api/mod.rs
  src/api/status.rs
  src/api/status_util.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix(clippy): prefix unused handle_resolver param; build passes
  src/api/mod.rs
  src/api/status.rs
  src/api/status_read.rs
  src/api/status_util.rs
  src/api/status_write.rs
  src/db/models.rs
  src/dev_utils.rs
  src/emoji.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

test(fix): update import to status_read::get_custom_emojis in main.rs tests
  src/main.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

ui(webhooks): expand modal to near full-screen and add collapsible integration guide with examples; improve form labeling and help text
  templates/status.html
Due: check-html-syntax

chore(clippy): fix redundant closure in HTTP client lazy init
  src/api/webhooks.rs
  src/webhooks.rs
  static/webhook_guide.css
  static/webhook_guide.js
  templates/status.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax, check-js-syntax

ui(webhooks): keep request/payload static on the left; move language tabs to right column; improve mobile responsiveness
  static/webhook_guide.css
  templates/status.html
Due: check-html-syntax

fix(emoji): restore legacy response shapes\n- /api/frequent-emojis returns raw array\n- /api/custom-emojis returns [{name, filename}] from /emojis dir with png>gif preference
  src/api/status_read.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix(feed): preserve logged-in state on /feed by building Profile from session + handle resolver (regression from refactor)
  src/api/status_read.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

feed(api): return object {statuses, has_more, next_offset}; implement offset/limit pagination; frontend handles object form
  src/api/status_read.rs
  src/db/models.rs
  templates/feed.html
Due: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax

feed(ui): always fetch first page on DOMContentLoaded so global feed never renders empty
  templates/feed.html
Due: check-html-syntax

feed(ui): always render an empty .status-list container so JS can append results when server has no initial statuses
  templates/feed.html
Due: check-html-syntax

fmt: rustfmt regression tests
  src/main.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix: Ensure link hover colors respect user's accent color preference
  templates/feed.html
  templates/status.html
Due: check-html-syntax

fix: Make hover colors dynamically calculate from accent color
  templates/error.html
  templates/feed.html
  templates/login.html
Due: check-html-syntax

fmt: Apply rustfmt and clippy formatting fixes
  src/api/status_write.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix: Include WebP files in emoji listing
  src/api/status_read.rs
Due: cargo-check, cargo-fmt-check, cargo-clippy

fix: Update JavaScript validation to accept WebP uploads
  templates/feed.html
  templates/status.html
Due: check-html-syntax

Redesign emoji picker as immersive modal
  templates/status.html
Due: check-html-syntax

Simplify picker layout and styling
  templates/status.html
Due: check-html-syntax

Polish emoji picker interactions and styling
  templates/status.html
Due: check-html-syntax

fix: Address PR review feedback and fix custom picker bug
  templates/status.html
Due: check-html-syntax

Path conditions:
  cargo-check: any of: \.rs$
  cargo-fmt-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  check-html-syntax: any of: \.html$
  check-js-syntax: any of: \.js$
  check-json: any of: \.json$
