Repository zzstoatzz/status: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt-check, cargo-clippy, check-html-syntax, check-js-syntax, check-json

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-fmt-check
        name: Cargo fmt check
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-html-syntax
        name: Check HTML syntax
        entry: bash -c 'for file in "$@"; do if ! xmllint --html --noout "$file" 2>/dev/null; then echo "HTML syntax error in $file"; exit 1; fi; done' --
        language: system
        files: \.html$
      - id: check-js-syntax
        name: Check JavaScript syntax
        entry: bash -c 'for file in "$@"; do if ! node -c "$file" 2>/dev/null; then echo "JavaScript syntax error in $file"; exit 1; fi; done' --
        language: system
        files: \.js$
      - id: check-json
        name: Check JSON
        entry: bash -c 'for file in "$@"; do if ! python3 -m json.tool "$file" > /dev/null 2>&1; then echo "JSON syntax error in $file"; exit 1; fi; done' --
        language: system
        files: \.json$

fix: prioritize status text over emoji name in og description
  site/functions/status/[did]/[rkey].js
Due: check-js-syntax

add share button to current status on home page
  site/app.js
  site/styles.css
Due: check-js-syntax

add embeddable status widget with copy-paste code
  site/app.js
  site/styles.css
Due: check-js-syntax

move embed code toggle next to share button
  site/app.js
  site/styles.css
Due: check-js-syntax

improve login page with typeahead and FAQ accordions
  site/app.js
  site/styles.css
Due: check-js-syntax

add delete button to current status
  site/app.js
Due: check-js-syntax

fix: make current status delete button visible
  site/styles.css
Due: none

integrate find-bufo.com semantic search into bufo picker
  site/app.js
  site/styles.css
Due: check-js-syntax

use community typeahead service for handle autocomplete
  site/app.js
Due: check-js-syntax

fix link previews, mobile layout, and /@handle routing
  app/app.css
  app/app.html
  app/lib/components/Header.svelte
  app/lib/components/StatusCard.svelte
  app/routes/@[handle]/+page.server.ts
  app/routes/status/[did]/[rkey]/+page.svelte
Due: check-html-syntax

patch hatk to advance _repos.rev on firehose insert
  Dockerfile
  package-lock.json
  package.json
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: check-json

add temp rev-debug logging to diagnose missing rev updates
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

add trace logs to firehose ingest path
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

replace rev-on-insert hatk patch with cursor heartbeat fix
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

add $type to status record body
  app/lib/components/CreateStatusForm.svelte
Due: none

generate hatk types during docker build
  Dockerfile
Due: none

route bufo emoji through find-bufo resolver; preferred atproto client picker
  app/app.css
  app/lib/atclients.ts
  app/lib/components/CreateStatusForm.svelte
  app/lib/components/EmojiPicker.svelte
  app/lib/components/Header.svelte
  app/lib/components/SettingsModal.svelte
  app/lib/components/StatusCard.svelte
  app/lib/utils/emoji.ts
  app/routes/+page.svelte
  app/routes/profile/[did]/+page.svelte
  app/routes/status/[did]/[rkey]/+page.server.ts
  app/routes/status/[did]/[rkey]/+page.svelte
Due: none

Improve status UI and feed performance
  COSTS.md
  README.md
  app/app.css
  app/lib/components/CreateStatusForm.svelte
  app/lib/components/CustomEmoji.svelte
  app/lib/components/EmojiPicker.svelte
  app/lib/components/Header.svelte
  app/lib/components/SettingsModal.svelte
  app/lib/components/StatusCard.svelte
  app/lib/preferences.ts
  app/lib/queries.ts
  app/lib/utils/emoji.ts
  app/routes/+page.svelte
  app/routes/feed/+page.ts
  app/routes/profile/[did]/+page.svelte
  app/routes/profile/[did]/+page.ts
  app/routes/status/[did]/[rkey]/+page.svelte
  patches/@hatk+hatk+0.0.1-alpha.45.patch
  server/on-login.ts
  server/setup/feed-indexes.ts
Due: none

Document corrected infrastructure costs
  COSTS.md
Due: none

fix gif statuses, login flow, and emoji picker on mobile
  app/app.css
  app/lib/components/EmojiPicker.svelte
  app/lib/components/LoginCard.svelte
  app/lib/utils/emoji.test.ts
  app/lib/utils/emoji.ts
  app/routes/oauth/callback/+page.svelte
  package.json
Due: check-json

fix emoji picker category tabs being crushed by the grid
  app/app.css
Due: none

give the emoji picker constant, viewport-defined geometry
  app/app.css
  app/lib/components/EmojiPicker.svelte
Due: none

autosave settings, fix client picker, unify the source link on [src]
  app/app.css
  app/lib/components/EmojiPicker.svelte
  app/lib/components/Header.svelte
  app/lib/components/SettingsModal.svelte
Due: none

emoji picker: real popularity, persistent search, windowed bufos
  app/app.css
  app/lib/components/CustomEmoji.svelte
  app/lib/components/EmojiPicker.svelte
  app/lib/utils/emoji.test.ts
  app/lib/utils/emoji.ts
  server/feeds/popular.ts
Due: none

gifdex: browse and post gifs from net.gifdex.gif.post
  app/app.css
  app/lib/components/CreateStatusForm.svelte
  app/lib/components/EmojiPicker.svelte
  app/lib/components/GifImage.svelte
  app/lib/components/StatusCard.svelte
  app/lib/utils/gifdex.test.ts
  app/lib/utils/gifdex.ts
  app/routes/+page.svelte
  app/routes/api/gifs/+server.ts
  app/routes/profile/[did]/+page.svelte
  lexicons/io/zzstoatzz/status/defs.json
  lexicons/io/zzstoatzz/status/record.json
  patches/@hatk+hatk+0.0.1-alpha.45.patch
  server/feeds/_hydrate.ts
Due: check-json

gifdex: serve blobs through porxie, drop the bsky CDN
  app/app.css
  app/lib/components/CreateStatusForm.svelte
  app/lib/components/EmojiPicker.svelte
  app/lib/components/GifImage.svelte
  app/lib/components/StatusCard.svelte
  app/lib/utils/emoji.ts
  app/lib/utils/gifdex.test.ts
  app/lib/utils/gifdex.ts
  app/routes/+page.svelte
  app/routes/api/gifs/+server.ts
  app/routes/profile/[did]/+page.svelte
Due: none

patch hatk: rebuild the FTS shadow table when a lexicon gains a column
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

emoji picker: use a real bufo for the custom tab, not 🐸
  app/app.css
  app/lib/components/EmojiPicker.svelte
Due: none

patch hatk: filtered ingest via jetstream, and use it
  hatk.config.ts
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

patch hatk: resume from the live cursor on reconnect, not the start one
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

use zlay.waow.tech as the relay; drop the jetstream knob
  hatk.config.ts
  patches/@hatk+hatk+0.0.1-alpha.45.patch
Due: none

login: say "atmosphere account", and align the field label
  app/app.css
  app/lib/components/LoginCard.svelte
Due: none

toasts for copied links, posted and deleted statuses
  app/app.css
  app/lib/components/CreateStatusForm.svelte
  app/lib/components/StatusCard.svelte
  app/lib/components/Toast.svelte
  app/lib/toast.svelte.ts
  app/lib/toast.test.ts
  app/routes/+layout.svelte
  app/routes/+page.svelte
Due: none

gifs: index the collection, paginate it, search it server-side
  app/lib/components/EmojiPicker.svelte
  app/lib/utils/gifdex.test.ts
  app/lib/utils/gifdex.ts
  app/lib/utils/gifsources.ts
  app/routes/api/gifs/+server.ts
  app/routes/status/[did]/[rkey]/+page.server.ts
  app/routes/status/[did]/[rkey]/+page.svelte
  hatk.config.ts
  lexicons/net/gifdex/gif/post.json
  server/setup/gif-sources.ts
Due: check-json

gifs: serve blobs from porxie.waow.tech, behind cloudflare
  app/lib/utils/gifdex.test.ts
  app/lib/utils/gifdex.ts
Due: none

search, gifdex cdn, and bluesky backlinks
  app/app.css
  app/lib/atclients.ts
  app/lib/components/BacklinkLink.svelte
  app/lib/components/CreateStatusForm.svelte
  app/lib/components/EmojiPicker.svelte
  app/lib/components/GifImage.svelte
  app/lib/components/StatusCard.svelte
  app/lib/utils/backlinks.test.ts
  app/lib/utils/backlinks.ts
  app/lib/utils/gifdex.test.ts
  app/lib/utils/gifdex.ts
  app/lib/utils/gifsources.ts
  app/routes/+page.svelte
  app/routes/profile/[did]/+page.svelte
  lexicons/net/gifdex/gif/post.json
  patches/@hatk+hatk+0.0.1-alpha.45.patch
  server/search.test.ts
Due: check-json

emoji: use the space the cards already reserve
  app/app.css
Due: none

dockerfile: stop pruning dev deps, which deleted a runtime native binding
  Dockerfile
Due: none

move the search test out of server/, which hatk imports at boot
  db/schema.sql
  tests/search.test.ts
Due: none
